:root {
  --color-button-text: #ffffff;

  --color-primary-100: #ebeef5;
  --color-primary-200: #b2bdcd;
  --color-primary-300: #6a7594;
  --color-primary-400: #61619e;
  --color-primary-500: #4e4e7e;
  --color-primary-600: #3a3a5f;
  --color-primary-700: #27273f;
  --color-primary-800: hsl(240, 18%, 15%);
  --color-primary-900: hsl(240, 18%, 10%);

  --color-primary-modal: rgba(13, 13, 22, 0.8);
}

:root {
  --color-accent: #0a84ff;
  --color-accent-hover: #52a8ff;
  --color-accent-disabled: #51a8ff;
}
