@import url('https://dev.core.fluxi.ml/styles/colors.css');
@import url('https://dev.core.fluxi.ml/styles/globals.css');
@import url('https://dev.core.fluxi.ml/styles/components.css');
@import url('https://dev.core.fluxi.ml/styles/animations.css');

h1,
h2,
h3,
h4,
p {
  line-height: 1.6 !important;
}

h1,
h2,
h3,
h4,
p.bold {
  font-weight: 700 !important;
}

h1 {
  font-size: 3.85rem !important;
}

h2 {
  font-size: 25px !important;
}

h3 {
  font-size: 2rem !important;
}

h4 {
  font-size: 1.5rem !important;
}

p {
  font-size: 1rem !important;
  font-weight: 500 !important;
}

.carousel-title {
  font-size: 25px;
  line-height: 1.6;
  font-weight: 700;
}

.btn-discord {
  color: #fff !important;
  background-color: #5865f2 !important;
}

.btn-discord:hover {
  background-color: rgb(121, 131, 245) !important;
}

.overlay .overlay-child {
  transition-duration: 0ms;
  transition: none;
  visibility: hidden;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.8) 100%);
  border-radius: 8px;
}

.overlay .overlay-child * {
  transition-duration: 0ms;
  transition: none;
}

.overlay:hover .overlay-child {
  visibility: visible;
}

.l-1 {
  line-height: 1 !important;
}

:root {
  --toggle-height: 24px;
  --toggle-width: calc(var(--toggle-height) * 16 / 9);
  --toggle-border: 2px;
}
.reset-a,
.reset-a:hover,
.reset-a:visited,
.reset-a:focus,
.reset-a:active {
  text-decoration: none;
  color: inherit;
  outline: 0;
  cursor: auto;
}

:root {
  --color-primary-900: rgb(4, 7, 20) !important;
}

.bg-primary-900-80 {
  background-color: rgba(4, 7, 20, 0.8);
  backdrop-filter: blur(40px);
}

.loading-animation {
  background: var(--color-primary-800);
  background: linear-gradient(146deg, var(--color-primary-800) 5%, var(--color-primary-700) 15%, var(--color-primary-800) 25%);
  background-size: 5000px 100%;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
}

@keyframes shimmer {
  0% {
    background-position: -5000px 0;
  }
  100% {
    background-position: 5000px 0;
  }
}
