@import url('https://fluxi.me/api/css');

#__next,
html,
body {
  width: 100%;
  height: 100%;
}

.bg-primary-900-high {
  background-color: rgba(0, 0, 0, 0.95);
}

.bg-primary-900-80 {
  background-color: rgba(0, 0, 0, 0.8);
}

.bg-primary-900-20 {
  background-color: rgba(0, 0, 0, 0.05);
}

.user {
  stroke: var(--color-accent);
}

.tmdb {
  stroke: #805be7;
}

.imdb {
  stroke: #f5c518;
}

.rt {
  stroke: #fa320a;
}

.metacritic {
  stroke: #ffcc34;
}

.green {
  color: #46d369;
}

.btn-discord {
  color: #fff !important;
  background-color: #5865f2 !important;
}

.gradient-default {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.8) 100%);
}

.overlay .overlay-child {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.8) 100%);
  border-radius: 8px;
}

.overlay .overlay-child {
  transition: 150ms ease all;
  opacity: 0;
}

.overlay:hover .overlay-child {
  opacity: 1 !important;
}

:root {
  --plyr-color-main: var(--color-accent);
}

.loading-animation {
  background: var(--color-primary-800);
  background: linear-gradient(146deg, var(--color-primary-800) 5%, var(--color-primary-700) 15%, var(--color-primary-800) 25%);
  background-size: 5000px 100%;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
}

@keyframes shimmer {
  0% {
    background-position: -5000px 0;
  }
  100% {
    background-position: 5000px 0;
  }
}

.aspect-pc {
  aspect-ratio: 19 / 12;
}
